header.w3-container.w3-blue
	h3.w3-center 서울시 문화정보
	
nav.w3-bar.w3-black
	a(href='/').w3-bar-item.w3-button 홈
	a(href='/seoul/1').w3-bar-item.w3-button 콘서트
	a(href='/seoul/2').w3-bar-item.w3-button 클래식
	a(href='/seoul/3').w3-bar-item.w3-button 뮤지컬
	
	a(href='/seoul/5').w3-bar-item.w3-button 연극
	a(href='/seoul/6').w3-bar-item.w3-button 무용
	a(href='/seoul/7').w3-bar-item.w3-button 전시
	a(href='/seoul/11').w3-bar-item.w3-button 국악
	a(href='/seoul/12').w3-bar-item.w3-button 축제
	a(href='/seoul/17').w3-bar-item.w3-button 독창회